@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Anton SC', sans-serif;
	color: #11d711;
	font-size: 22px;
	font-weight: 100;
	background-image: url('images/крут\ котяра.png');

	background-attachment: fixed;
}

.osnova {
	text-align: justify;
	font-family: 'Times New Roman', Times, serif;
	color: #b6411b;
	cursor: pointer;
}

#block {
	background: rgb(107, 231, 163);
	height: 500px;
	width: 500px;
	border: 5px solid black;
	border-radius: 1000px;
	cursor: pointer;
	opacity: 0.9;
	margin: 20px 500px;
	font-size: 30px;
	/* float (данный тег делает так что бы блоки находились друг от друга справа или же слева */
}
.name {
	text-align: center;
	font-size: 30px;
	width: 100%;
	height: 70px;
	border-bottom: 5px solid silver;
	background: #333;
	line-height: 70px;
	margin-bottom: 25px;
}


.footer {
	text-align: center;
	font-size: 30px;
	width: 100%;
	height: 70px;
	border-top: 5px solid silver;
	background: #333;
	line-height: 70px;
	margin-bottom: 0;
	margin-top: 25px;
}

